/* Global Styles */
:root{
    --primary-color:#46cdcf;
}

.primary-color{
    color: var(--primary-color);
}

#message-container{
    transition: all 2s;
    display: none;
}

#message{
    background-color: rgba(0, 0, 0, 0.475);

}

/* End of Global Styles */